#spots-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 120px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    column-gap: 30px;
}
.spot {
    text-decoration: none;
    margin-bottom: 20px;
}

.spot-img-div {
    width: 100%;
    padding-bottom: 100%;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.spot-img {
    position: absolute;
    object-fit: cover;
    width: auto;
    max-width: 100%;
    min-height: 100%;
    border-radius: 15px;
}

.spot-location-div {
    font-weight: 500;
    padding-bottom: 5px;
    padding-left: 2px;
    text-decoration: none;
    font-size: 15px;
}
.spot-location-country-div {
    font-weight: 500;
    padding-bottom: 5px;
    padding-left: 2px;
    text-decoration: none;
    color: grey;
    font-size: 15px;
}

.spot-location-div > span {
    float: right;
    padding-right: 2px;
    /* font-size: 10px; */
}

.spot-price-div {
    padding-left: 2px;
    font-size: 15px;
}


