#create-spot-wrapper {
    display: flex;
    flex-direction: column;
}

textarea:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.create-spot-form-input-break {
    background-color: rgb(200, 200, 200);
    height: 1px;
    margin-left: -11px;
    width: 103.3%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.create-spot-form-input-wrapper {
    border: rgb(200, 200, 200) 1px solid;
    border-radius: 9px;
    margin-bottom: 1px;
    width: 40%;
    margin: auto;
    width: 100%;
    padding: 11px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#create-spot-name {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 40px;
    color: rgb(255, 0, 115);
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
}

.create-spot-form {
    width: 40%;
    padding: 11px;
    margin: auto;
}


.create-spot-form>div {
    width: 100%;
    padding: 8px;
    padding-left: 10px;
}

.create-spot-input-title {
    color: rgb(255, 0, 115);
    margin-bottom: 5px;
    padding-left: 3px;
}

#country {
    height: 20px;
    width: 100%;
    margin-left: -2px;
    border: white solid 1px;
}

#create-spot-button {
    background-color: rgb(255, 0, 115);
    color: white;
    width: 100%;
    margin-top: 9px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgb(255, 0, 115);
    font-size: 15px;
    font-weight: 300;
}

#create-spot-button-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#create-spot-button-wrapper :hover {
    background-color: white;
    color: rgb(255, 0, 115);
    border: 1px solid rgb(255, 0, 115)
}

.create-spot-textarea {
    resize: none;
    width: 93%;
    height: 150px;
    font-size: 14px;
    border: none;
    margin-left: 2px;
}


.errors-wrapper {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.create-spot-errorlist>li {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-spot-errorlist>div {
    display: flex;
    justify-content: center;
    font-weight: 600
}