#create-spot-name {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
    color: rgb(255, 0, 115);
    margin-top: 60px;
    width: 100%;
}

.create-spot-form {
    margin-top: 20px;
    width: 70%;
    /* border: solid purple 3px; */
}


.create-spot-form>div {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: solid blue 2px */
}

.create-spot-form>div>input {
    text-indent: 12px;
    width: 95%;
}

.create-spot-input-title {
    color:rgb(255, 0, 115);
    margin-left: 20px;
    margin-bottom: 10px;
}

#country {
    padding: 10px;
    width: 96%;
    border-radius: 4px;
    border:grey solid 1px;
}

#create-spot-button {
    background-color: rgb(255, 0, 115);
    color: white;
    width: 96%;
    margin-top: 9px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

#create-spot-button-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#create-spot-button-wrapper :hover {
    background-color: white;
    color: rgb(255, 0, 115);
    border: 1px solid rgb(255, 0, 115)
}

.create-spot-textarea {
    resize: none;
    width: 95%;
    height: 200px;
    font-size: 14px;
    text-indent: 7px;
}


.errors-wrapper {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.create-spot-errorlist>li {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-spot-errorlist>div {
    display: flex;
    justify-content: center;
    font-weight: 600
}