input {
    font-weight: 300;
    color: rgb(50, 50, 50);
    font-family: "Noto Sans"
}

textarea {
    font-weight: 300;
    color: rgb(50, 50, 50);
    font-family: "Noto Sans"
}

select {
    font-weight: 300;
    color: rgb(50, 50, 50);
    font-family: "Noto Sans"
}

.spot-details {
    padding: 0px;
    padding-left: 110px;
    padding-right: 105px;
    margin: 0px;
    /* min-width: 1100px; */
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .spot-details {
        padding: 0px;
        padding-left: 105px;
        padding-right: 105px;
        margin: 0px;
        min-width: 0px;
        display: flex;
        justify-content: center;
    }

    .one-spot-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 120px;
        padding-right: 120px;
        width: 100%;

    }
}

.session {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    /* max-width: 1400px; */
    /* padding-left: 80px;
    padding-right: 80px; */
}


ul {
    list-style: none;
}

.home {
    margin: 0px;
    padding: 0px;
    padding-left: 70px;
    padding-right: 75px;
}


.dropdownwrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -15px;
    margin-right: 4px;
}

.logo {
    width: 150px;
    margin-top: -15px;
}

#login-dropdown {
    border: solid rgb(198, 198, 198) 1px;
    box-shadow: 0px 0px 5px #ababab99;
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
    position: absolute;
    padding-bottom: 5px;
    padding-top: 10px;
    width: 120px;
    z-index: 9999;
    top: 65px;
}

#login-nav {
    padding-left: 10px;
    padding-top: 5px;
    color: black;
    background-color: none;
}

.login-nav-login {
    font-weight: 400;
}

.login-nav-signup {
    font-weight: 200
}

#login-nav-wrapper {
    height: 25px;
    margin-bottom: 10px;
    width: 100%;
    height: 120%;
    /* background-color: pink; */
}

#login-nav-wrapper:hover {
    background-color: rgb(204, 204, 204);
    cursor: pointer;
}

.headerbreak {
    background-color: #dedede99;
    width: 100%;
    height: 1px;
    margin-top: 25px;
}

#profile-dropdown {
    border: solid rgb(198, 198, 198) 1px;
    box-shadow: 0px 0px 5px #ababab99;
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
    position: absolute;
    height: 285px;
    width: 170px;
    z-index: 9999;
    top: 65px;
}

.profile-info-wrapper {
    margin-top: 25px;
    margin-bottom: -10px;
}

.profile-info {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;
    padding-left: 12px;
}


.menu-visible {
    visibility: visible;
    border: solid red 1px
}

.menu-not-visible {
    visibility: hidden;
}

.login-inner-div {
    color: black;
    font-size: 13px;
    font-weight: 300;
    padding-left: 12px;
    padding-top: 7px;
}

.login-menu-wrapper {
    color: black;
    padding-top: 13px;
    height: 20px;
}


.login-menu-wrapper :hover {
    background-color: rgb(230, 230, 230);
    width: 93.2%;
    height: 140%;
    cursor: pointer;
}

.profilebuttonwrapper {
    justify-self: right;
}

.profilebutton {
    width: 70px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(171, 171, 171);
    justify-self: left;
    background-color: white;
}

.profilebutton:hover {
    box-shadow: 2px 2px 2px rgb(213, 213, 213);
    cursor: pointer;
}

.fa-user {
    color: rgb(171, 171, 171);
    margin-left: 5px;
}

.fa-bars {
    color: rgb(171, 171, 171);
    margin-right: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(171, 171, 171);
    background-color: white;
    width: 100%;
    margin-top: 100px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 14px;
}

.clone {
    margin-left: 120px;
}

.name {
    margin-right: 120px;
}

.name>a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.name> :hover {
    /* font-weight: 500; */
    color: pink;
}

.whoops {
    font-weight: 300;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}