.session {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.sessionlinks {
    padding-right: 10px;
}

.sessionlinks span {
    padding: 20px;
}

ul {
    list-style: none
}


.dropdownwrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -15px;
    margin-right: 4px;
}


.dropdown {
    border: solid rgb(198, 198, 198) 1px;
    box-shadow: 0px 0px 5px #ababab99;
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
    position: absolute;
    height: 195px;
    width: 131px;
    z-index: 9999;
    top: 65px;
}

.profileusername {
    margin-top: 15px;
}

.dropdown>ul>li {
    padding: 5px;
    justify-self: left;
    margin-left: -28px;
    font-size: 12px;
}

hr {
    background-color: 0px 0px 5px #cccbcb99;
    width: 131px;
    position: absolute;
    right: -1px;
    top: 75px;

}


.myspots-wrapper {
    width: 100%;
    margin-left: 4px;
    margin-top: 10px;
}

.myspots {
    color: black;
    font-size: 12px;
    margin-left: 12px;
}

.newspot {
    color: black;
    font-size: 12px;
    margin-left: 12px;
}

.myspots-wrapper :hover {
    background-color: rgb(230, 230, 230);
    width: 88%;
    box-shadow: -10px 0px 100px rgb(230, 230, 230)
}


.logout {
    border: none;
    background: white;
    color: black;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 11px;
}

.logout-div :hover {
    background-color: rgb(230, 230, 230);
    width: 88%;
    cursor: pointer;
}

.profilebuttonwrapper {
    justify-self: right;
}

.profilebutton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    justify-self: left;
    background-color: rgb(171, 171, 171);
    color: white;
}